.activities {
  padding-top: 30px;
  height: 1120px;
  background-color: #11131F;
}
.activities_wrapper {
  width: 335px;
  height: 335px;
  position: relative;
  margin-bottom: 20px;
}
.activities_wrapper:nth-child(1) {
  width: 100%;
}
.activities_img-main {
  width: 100%;
  height: 335px;
}
.activities_text {
  width: 95px;
  height: 43px;
  background-color: rgb(246, 245, 239);
  text-align: center;
  font-family: DM Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: -4.5%;
  color: rgb(17, 19, 31);
  position: absolute;
  left: 25px;
  bottom: 25px;
  border-radius: 60px;
  padding-top: 15px;
}
.activities_text-large {
  width: 135px;
  height: 43px;
  background-color: rgb(246, 245, 239);
  text-align: center;
  font-family: DM Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: -4.5%;
  color: rgb(17, 19, 31);
  position: absolute;
  left: 25px;
  top: 268px;
  border-radius: 60px;
  padding-top: 15px;
}
.activities_flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  align-items: end;
}

@media (min-width: 768px) {
  .activities {
    height: 1550px;
    padding-left: 15px;
  }
  .activities_wrapper:nth-child(1) {
    width: 704px;
    height: 632px;
  }
  .activities_img-main {
    width: 704px;
    height: 632px;
  }
  .activities_img-sun {
    width: 380px;
    height: 352px;
  }
  .activities_img-fish {
    width: 400px;
    height: 389px;
  }
  .flex_wrapper {
    margin-left: auto;
    margin-right: 45px;
    width: 400px;
    height: 389px;
  }
}
@media (min-width: 1280px) {
  .activities {
    height: 1150px;
  }
  .activities_flex {
    gap: 50px;
  }
  .activities_img-sun {
    width: 436px;
    height: 352px;
  }
  .activities_img-fish {
    width: 440px;
    height: 428px;
  }
  .wrapper_sun {
    width: 436px;
    height: 352px;
    margin-left: auto;
    margin-right: 460px;
    margin-top: 30px;
  }
  .flex_wrapper {
    width: 440px;
    height: 428px;
  }
}
.container-booking {
  background-color: #1f212d;
  width: 1280px;
  height: 713px;
  display: flex;
  align-items: center;
}

.booking {
  width: 913px;
  height: 387px;
  display: flex;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.booking__title-main {
  width: 282px;
  height: 132px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 110%;
  letter-spacing: -0.045em;
  color: #f6f5ef;
}

.booking-title {
  width: 282px;
  height: 387px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.booking__form {
  width: 443px;
  height: 387px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 443px;
  height: 266px;
}
.input-box * {
  border: none;
  border-bottom: 1px solid #f6f5ef;
}

input.booking__input:-webkit-autofill,
textarea.booking__textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #1f212d inset;
  -webkit-text-fill-color: #f6f5ef;
  color: #f6f5ef;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.booking__input::-webkit-input-placeholder,
.booking__textarea::-webkit-input-placeholder {
  color: #f6f5ef;
  opacity: 1;
}

.booking__input:focus,
.booking__textarea:focus {
  outline: none;
  box-shadow: none;
  border-color: #f6f5ef;
}

.booking__input {
  text-align: start;
  background-color: transparent;
  height: 35px;
  width: 443px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.045em;
  color: #f6f5ef;
  opacity: 100;
}

.booking__textarea {
  background-color: transparent;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.045em;
  color: #f6f5ef;
  width: 443px;
  height: 77px;
}

.booking__button {
  width: 132px;
  height: 48px;
  background-color: transparent;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.045em;
  color: #f6f5ef;
  background-color: transparent;
  border-radius: 60px;
  border: 1px solid #f6f5ef;
}

.booking__icon {
  margin-left: 16px;
}

@media (max-width: 1279px) {
  .container-booking {
    height: 549px;
    width: 768px;
  }
  .booking {
    width: 704px;
    height: 351px;
  }
  .booking__img {
    width: 271px;
  }
  .booking-title {
    width: 271px;
    height: 351px;
  }
  .booking__form {
    width: 364px;
    height: 346px;
  }
  .input-box * {
    width: 364px;
  }
}
@media (max-width: 767px) {
  .container-booking {
    height: 755px;
    width: 375px;
    align-items: start;
    padding-top: 80px;
    justify-content: center;
  }
  .booking {
    width: 335px;
    height: 596px;
    flex-direction: column;
    justify-content: space-between;
  }
  .booking-title {
    width: 335px;
    height: 243px;
    justify-content: space-between;
  }
  .booking__title-main {
    font-size: 36px;
    width: auto;
    height: auto;
  }
  .booking__img {
    width: 259px;
  }
  .booking__form {
    width: 335px;
    height: 313px;
  }
  .input-box {
    width: 335px;
    height: 246px;
  }
  .input-box * {
    width: 335px;
  }
  .booking__button {
    width: 123px;
    height: 43px;
  }
}
.fleet {
  padding-top: 30px;
  height: 1800px;
  background-color: #11131F;
}
.fleet_main-info {
  font-family: DM Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: -4.5%;
  color: rgb(246, 245, 239);
  text-align: left;
}
.fleet-title {
  background: linear-gradient(92.17deg, #BEC7C2 41.03%, #A1B5BA 90.31%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: DM Sans;
  font-weight: 500;
  font-style: Italic;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -4.5%;
}
.fleet_wrapper-text {
  display: flex;
  gap: 14px;
  padding-top: 50px;
  width: 335px;
  transition: gap 0.5s ease, flex-direction 0.5s ease;
}
.fleet_extra-text {
  font-family: DM Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -2%;
  color: rgb(246, 245, 239);
  transition: transfrom 0.5s ease, flex 0.5s ease;
  flex: 1 1 50%;
  transform: translateX(5vw);
}
.fleet_main-photo {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 100%;
  height: 524px;
}
.fleet_text-photo {
  padding-top: 20px;
  padding-left: 70px;
}
.fleet_request {
  position: absolute;
  width: 335px;
  height: 203px;
  z-index: 2;
  top: 1432px;
  left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fleet_request-text {
  font-family: DM Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 36px;
  letter-spacing: -4.5%;
  color: rgb(246, 245, 239);
}
.fleet_request-btn {
  width: 131px;
  height: 43px;
  border: 1px solid rgb(246, 245, 239);
  background-color: transparent;
  border-radius: 60px;
  font-family: DM Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  letter-spacing: -4.5%;
  color: rgb(246, 245, 239);
}
.fleet_gradient {
  position: absolute;
  width: 255px;
  height: 255px;
  border-radius: 50%;
  background-color: rgb(145, 175, 186);
  opacity: 60%;
  transform: rotate(45deg);
  filter: blur(60px);
  top: 1400px;
  left: -63px;
}

@media (min-width: 768px) {
  .fleet {
    height: 1900px;
  }
  .fleet_main-info {
    width: 514px;
    height: 152px;
    font-family: DM Sans;
    font-weight: 500;
    font-style: Italic;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -4.5%;
  }
  .fleet_main-photo {
    height: 624px;
    width: 734px;
  }
  .fleet_text-photo {
    position: absolute;
    top: 1320px;
    left: 322px;
  }
  .fleet_wrapper-text {
    width: 400px;
    margin-left: 45vw;
    height: 242px;
    font-family: DM Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -2%;
    padding-top: 20px;
  }
  .fleet_extra-text {
    transform: translateX(0);
  }
  .fleet_request {
    top: 1500px;
    width: 641px;
    height: 343px;
  }
  .fleet_request-text {
    font-family: DM Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 70px;
    letter-spacing: -4.5%;
  }
  .fleet_request-btn {
    width: 153px;
    height: 48px;
  }
  .fleet_gradient {
    width: 400px;
    height: 400px;
    left: 0;
    filter: blur(80px);
    top: 1430px;
  }
}
@media (min-width: 1280px) {
  .fleet {
    height: 1500px;
  }
  .fleet_wrapper-text {
    position: absolute;
    top: 10px;
    right: 30px;
  }
  .fleet_extra-text {
    font-family: DM Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -2%;
  }
  .fleet_main-photo {
    width: 533px;
    height: 473px;
    transform: translate(372px, 100px);
  }
  .fleet_text-photo {
    top: 800px;
    left: 332px;
  }
  .fleet_yacht-photo {
    position: absolute;
    top: 570px;
    left: 30px;
  }
  .fleet_request {
    width: 882px;
    height: 442px;
    top: 950px;
    left: 232px;
  }
  .fleet_request-text {
    font-family: DM Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 100px;
    line-height: 110%;
    letter-spacing: -4.5%;
  }
  .fleet_gradient {
    top: 950px;
    left: 232px;
  }
}
.footer-page {
  height: 370px;
  background-color: #11131F;
  padding-top: 20px;
}

.footer-line {
  width: 335px;
  height: 1px;
  background-color: rgba(246, 245, 239, 0.2);
  margin: auto;
  margin-bottom: 40px;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-top: 40px;
}
.footer-nav-link {
  font-family: DM Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 118%;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: rgb(246, 245, 239);
}

.footer_title-socials {
  font-family: DM Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgb(246, 245, 239);
  margin-bottom: 20px;
}

.socials {
  width: 124px;
  height: 63px;
  margin-top: 40px;
}

.footer_svg-wrapper {
  display: flex;
  gap: 14px;
}

.svg_border {
  width: 32px;
  height: 32px;
  border: 1px solid rgba(246, 245, 239, 0.5);
  border-radius: 6px;
  padding-top: 10px;
  padding-left: 7px;
}
.svg_border-facebook {
  width: 32px;
  height: 32px;
  border: 1px solid rgba(246, 245, 239, 0.5);
  border-radius: 6px;
  padding-left: 10px;
  padding-top: 7px;
}
.svg_border-instagram {
  width: 32px;
  height: 32px;
  border: 1px solid rgba(246, 245, 239, 0.5);
  border-radius: 6px;
  padding-left: 7px;
  padding-top: 7px;
}

.footer_svg {
  width: 15px;
  height: 15px;
}

.footer_rights {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  gap: 14px;
}
.footer_rights-text {
  font-family: DM Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 118%;
  letter-spacing: 3%;
  text-align: center;
  color: rgb(246, 245, 239);
  opacity: 0.5;
}

.footer_grad {
  position: absolute;
  width: 420px;
  height: 420px;
  border-radius: 50%;
  background-color: rgb(145, 175, 186);
  opacity: 60%;
  transform: rotate(46deg);
  filter: blur(60px);
  top: 260px;
  left: -23px;
}

.page-header {
  padding-top: 30px;
  height: 72px;
  background-color: #11131F;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 7px;
}

.header-line {
  width: 100%;
  height: 1px;
  background-color: rgba(246, 245, 239, 0.2);
  margin: auto;
  margin-top: 20px;
}

.header-nav {
  display: none;
}

@media (min-width: 768px) {
  .header-nav {
    display: block;
    display: flex;
    gap: 20px;
  }
  .header-nav-link {
    font-family: DM Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 118%;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: rgb(246, 245, 239);
  }
  .header_burger-menu {
    display: none;
  }
}

.clients {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 11px;
  position: absolute;
  width: 149px;
  height: 82px;
  left: 64px;
  top: 183px;
}

.man {
  position: absolute;
  width: 233px;
  height: 233px;
  left: 337px;
  top: 183px;
  border-radius: 24px;
}

.yacht {
  position: absolute;
  width: 378px;
  height: 221px;
  left: 56px;
  top: 376px;
}

.sumbol {
  position: absolute;
  width: 426px;
  height: 598px;
  left: 32px;
  top: 151px;
}

.text_big-svg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 14px;
  position: absolute;
  width: 362px;
  height: 66px;
  left: 64px;
  top: 619px;
}

.text_big-svg-12m {
  width: 130px;
  height: 66px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 110%;
  display: flex;
  align-items: center;
  letter-spacing: -0.045em;
  text-transform: uppercase;
  color: #11131F;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.text_big-svg-p {
  width: 208px;
  height: 36px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: -0.045em;
  color: #11131F;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.clients-text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #11131F;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.clients-img {
  display: flex;
}

.title {
  color: rgb(246, 245, 239);
  align-items: center;
  font-size: 60px;
  padding-top: 140px;
}

.title-p {
  font-size: 16px;
  color: rgb(246, 245, 239);
}

.title-button {
  width: 150px;
  height: 48px;
  border-radius: 60px;
  background-color: rgb(147, 171, 174);
  color: rgb(246, 245, 239);
  font-size: 18px;
}

.title-btn {
  width: 117px;
  height: 48px;
  background-color: rgb(17, 19, 31);
  color: rgb(246, 245, 239);
  font-size: 18px;
  border-radius: 60px;
  border-color: rgb(246, 245, 239);
}

.big-svg {
  padding-left: 32px;
}

.button-title {
  padding-top: 15px;
}

.reviews__container {
  height: 592px;
  width: 1280px;
  background-color: #11131f;
}

.reviews {
  height: 592px;
  width: 1216px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reviews__header {
  width: 1216px;
  height: 114px;
  display: flex;
  justify-content: space-between;
}

.reviews__title-main {
  width: 497px;
  height: 114px;
  font-family: "DM Sans";
  font-style: italic;
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.045em;
  color: #f6f5ef;
}

.reviews__title-main span {
  background: linear-gradient(92.17deg, #bec7c2 41.03%, #a1b5ba 90.31%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.reviews__subtitle {
  width: 273px;
  height: 110px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #f6f5ef;
}

.reviews__list {
  width: 1216px;
  height: 282px;
  display: flex;
  justify-content: space-between;
}

.reviews__item {
  width: 322px;
  height: 218px;
  background-color: #1f212d;
  border-radius: 24px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__name {
  width: 165px;
  height: 20px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
  text-align: center;
  letter-spacing: -0.045em;
  color: #f6f5ef;
  margin-bottom: 8px;
  margin-top: 24px;
}

.reviews__text {
  width: 320px;
  height: 110px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  letter-spacing: -0.02em;
  color: rgba(246, 245, 239, 0.5);
}

.reviews__button {
  width: 68px;
  height: 68px;
  background-color: #93ABAE;
  margin-left: 1148px;
  border-radius: 8px;
  box-shadow: none;
  border: none;
}

.section-three {
  padding: 120px;
  background-color: rgb(17, 19, 31);
  display: flex;
  gap: 30px;
  align-items: center;
}

.slider-yaht-one {
  background-color: rgb(31, 33, 45);
  width: 354px;
  height: 508px;
  border-radius: 24px;
}

.yaht-one_img {
  padding: 16px;
  border-radius: 24px;
}

.yaht-one-title {
  display: flex;
  gap: 147px;
  padding-left: 32px;
  align-items: center;
}

.yaht-one_p {
  font-size: 16px;
  color: rgb(246, 245, 239);
}

.yaht-one_p-two {
  color: rgb(246, 245, 239);
  font-size: 12px;
}

.text-div {
  display: flex;
  align-items: center;
  gap: 32px;
}

.text-div_ul-one, .text-div_ul-two {
  color: rgb(246, 245, 239);
  list-style: none;
}

.yaht-two-title {
  display: flex;
  gap: 32px;
  padding-left: 32px;
  align-items: center;
}

.arrow-start {
  padding: 75px;
}

.arrow-end {
  padding: 75px;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}

* {
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
  padding-block-start: 0;
  text-decoration: none;
  list-style-type: none;
}/*# sourceMappingURL=style.css.map */