
</style>
<link rel="stylesheet" href="../css/style.css">
    <header class="page-header">
        <div class="container header-flex">
            <div class="header-logo">
                <svg width="18px" height="18px">
                    <use href="../symbols.svg#logo" width="18px" height="18px"></use>
                </svg>
                <svg width="146px" height="10px">
                    <use href="../symbols.svg#text-logo" width="146px" height="10px"></use>
                </svg>
            </div>
            <button class="hamburger-btn" id="hamburgerBtn" onclick="openMenu()">
                <div class="hamburger-line" style="width: 10px;"></div>
                <div class="hamburger-line" style="width: 20px;"></div>
                <div class="hamburger-line" style="width: 15px;"></div>
            </button>
            <nav class="header-nav">
                <a href="#" class="header-nav-link">About</a>
                <a href="#" class="header-nav-link">Yachts</a>
                <a href="#" class="header-nav-link">Reviews</a>
            </nav>
        </div>
        <div class="container">
            <div class="header-line">  
            </div>
        </div>
    </header>
    <div class="menu-overlay" id="menuOverlay">
        <div class="container burger-menu">
            <div class="header-logo">
                <div>
                    <svg width="18px" height="18px">
                        <use href="../symbols.svg#logo" width="18px" height="18px"></use>
                    </svg>
                    <svg width="146px" height="10px">
                        <use href="../symbols.svg#text-logo" width="146px" height="10px"></use>
                    </svg>
                </div>
                <button class="close-btn" onclick="closeMenu()" style="width: 24px; height: 24px;">✕</button>
            </div>
            <div class="header-lin"></div>
            <nav class="burger-nav">
                <a href="#" class="burger-nav-link">About</a>
                <a href="#" class="burger-nav-link">Yachts</a>
                <a href="#" class="burger-nav-link">Reviews</a>
            </nav>
        </div>
        <div class="burger-grad"></div>
    </div> 
 <script  src="../burger.js"></script>

