<style>
    .header{
        background-color: red;
    }
</style>
    <header class="page-header">
        <div class="container header-flex">
            <div class="header-logo">
                <svg width="18px" height="18px">
                    <use href="../symbols.svg#logo" width="18px" height="18px"></use>
                </svg>
                <svg width="146px" height="10px">
                    <use href="../symbols.svg#text-logo" width="146px" height="10px"></use>
                </svg>
            </div>
            <svg id="hamburgerBtn" onclick="openMenu()" width="20px" height="14px" class="header_burger-menu">
                <use href="../symbols.svg#burger-btn" width="20px" height="14px"></use>
            </svg>
            <nav class="header-nav">
                <a href="#" class="header-nav-link">About</a>
                <a href="#" class="header-nav-link">Yachts</a>
                <a href="#" class="header-nav-link">Reviews</a>
            </nav>
        </div>
        <div class="container">
            <div class="header-line">
                
            </div>
        </div>
    </header>
    <div class="menu-overlay" id="menuOverlay">
        <div class="container burger-menu">
            <div class="header-logo">
                <svg width="18px" height="18px">
                    <use href="../symbols.svg#logo" width="18px" height="18px"></use>
                </svg>
                <svg width="146px" height="10px">
                    <use href="../symbols.svg#text-logo" width="146px" height="10px"></use>
                </svg>
            </div>
            <button class="close-btn" onclick="closeMenu()">✕</button>
            <nav class="header-nav">
                <a href="#" class="header-nav-link">About</a>
                <a href="#" class="header-nav-link">Yachts</a>
                <a href="#" class="header-nav-link">Reviews</a>
            </nav>
        </div>
        <div class="container">
            <div class="header-lin">
        
            </div>
        </div>
    </div> 
<!--  <script src="./script.js"></script> -->

