@import "../utils/variables";
.activities{
    padding-top: 30px;
    height: 1120px;
    background-color: $bg-color;
    &_wrapper{
        width: 335px;
        height: 335px;
        position: relative;
        margin-bottom: 20px;
        &:nth-child(1){
            width: 100%;
        }
    }
    &_img-main{
        width: 100%;
        height: 335px;
    }
    &_text{
        width: 95px;
        height: 43px;
        background-color: $text-color;
        text-align: center;
        font-family: DM Sans;
        font-weight: 700;
        font-style: Bold;
        font-size: 14px;
        line-height: 110.00000000000001%;
        letter-spacing: -4.5%;
        color: rgba(17, 19, 31, 1);
        position: absolute;
        left: 25px;
        bottom: 25px;
        border-radius: 60px;
        padding-top: 15px;
        &-large{
            width: 135px;
            height: 43px;
            background-color: $text-color;
            text-align: center;
            font-family: DM Sans;
            font-weight: 700;
            font-style: Bold;
            font-size: 14px;
            line-height: 110.00000000000001%;
            letter-spacing: -4.5%;
            color: rgba(17, 19, 31, 1);
            position: absolute;
            left: 25px;
            top: 268px;
            border-radius: 60px;
            padding-top: 15px;
        }
    }
    &_flex{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        align-items: end;
    }
}
@media (min-width:768px){
    .activities{
        height: 1550px;
        padding-left: 15px;
        &_wrapper:nth-child(1){
            width: 704px;
            height: 632px;
        }
        &_img-main{
            width: 704px;
            height: 632px;
        }
        &_img-sun{
            width: 380px;
            height: 352px;
        }
        &_img-fish{
            width: 400px;
            height: 389px;
        }
    }
    .flex_wrapper{
                margin-left: auto;
                margin-right: 45px;
                width: 400px;
                height: 389px;
    }
}
@media(min-width:1280px){
    .activities{
        height: 1150px;
        &_flex{
            gap: 50px;
        }
        &_img-sun{
            width: 436px;
            height: 352px;
        }
        &_img-fish{
            width: 440px;
            height: 428px;
        }
    }
    .wrapper_sun{
        width: 436px;
        height: 352px;
        margin-left: auto;
        margin-right: 460px;
        margin-top: 30px;
    }
    .flex_wrapper{
        width: 440px;
        height: 428px;
    }
}