.booking__body {
  background-color: #1f212d;
}

.container-booking {
  width: 1280px;
  height: 713px;
  display: flex;
  align-items: center;
  position: relative;
  // background-image: radial-gradient(#91afba);
}
.booking {
  width: 913px;
  height: 387px;
  display: flex;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.booking__title-main {
  width: 282px;
  height: 132px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 110%;
  letter-spacing: -0.045em;
  color: #f6f5ef;
}
.booking-title {
  width: 282px;
  height: 387px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.booking__form {
  width: 443px;
  height: 387px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.input-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 443px;
  height: 266px;
  & * {
    border: none;
    border-bottom: 1px solid #f6f5ef;
  }
}

input.booking__input:-webkit-autofill,
textarea.booking__textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #1f212d inset;
  -webkit-text-fill-color: #f6f5ef;
  color: #f6f5ef;
  transition: background-color 5000s ease-in-out 0s;
}
.booking__input::-webkit-input-placeholder,
.booking__textarea::-webkit-input-placeholder {
  color: #f6f5ef;
  opacity: 1;
}
.booking__input:focus,
.booking__textarea:focus {
  outline: none;
  box-shadow: none;
  border-color: #f6f5ef;
}
.booking__input {
  text-align: start;
  background-color: transparent;
  height: 35px;
  width: 443px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.045em;
  color: #f6f5ef;
  opacity: 100;
}
.booking__textarea {
  background-color: transparent;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.045em;
  color: #f6f5ef;
  width: 443px;
  height: 77px;
}
.booking__button {
  width: 132px;
  height: 48px;
  background-color: transparent;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.045em;
  color: #f6f5ef;
  background-color: transparent;
  border-radius: 60px;
  border: 1px solid #f6f5ef;
}
.booking__icon {
  margin-left: 16px;
}
.booking__div-circle {
  width: 414px;
  height: 414px;
  background-color: #91afba;
  border-radius: 50%;
  filter: blur(100px);
  position: absolute;
  // transform: rotate(90deg);
  top: 194px;
  // left: 801px;
  right: -208px;
  // right: -50%;
}
@media (max-width: 1279px) {
  .container-booking {
    height: 549px;
    width: 768px;
  }
  .booking {
    width: 704px;
    height: 351px;
  }
  .booking__img {
    width: 271px;
  }
  .booking-title {
    width: 271px;
    height: 351px;
  }
  .booking__form {
    width: 364px;
    height: 346px;
  }
  .input-box {
    & * {
      width: 364px;
    }
  }
  .booking__div-circle {
    top: 90px;
  }
}
@media (max-width: 767px) {
  .container-booking {
    height: 755px;
    width: 375px;
    align-items: start;
    padding-top: 80px;
    justify-content: center;
  }
  .booking {
    width: 335px;
    height: 596px;
    flex-direction: column;
    justify-content: space-between;
  }
  .booking-title {
    width: 335px;
    height: 243px;
    justify-content: space-between;
  }
  .booking__title-main {
    font-size: 36px;
    width: auto;
    height: auto;
  }
  .booking__img {
    width: 259px;
  }
  .booking__form {
    width: 335px;
    height: 313px;
  }
  .input-box {
    width: 335px;
    height: 246px;
    & * {
      width: 335px;
    }
  }
  .booking__button {
    width: 123px;
    height: 43px;
  }
  .booking__div-circle {
    bottom: 0;
    top: auto;
  }
}
