@import "../utils/variables";
.page-header{
    padding-top: 30px;
    height: 72px;
    background-color: $bg-color;
}
.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    display: flex;
    align-items: center;
    gap: 7px;
}
.header-line{
    width: 335px;
    height: 1px;
    background-color: rgba(246, 245, 239, 0.2);
    margin: auto;
    margin-top: 20px;
}
.header-nav{
    display: none;
}
@media (min-width:768px){
    .header-nav{
        display: block;
        display: flex;
        gap: 20px;
        &-link{
            font-family: DM Sans;
                font-weight: 700;
                font-style: Bold;
                font-size: 14px;
                line-height: 118%;
                letter-spacing: 3%;
                text-transform: uppercase;
                color: $text-color;
        }
    }
    .header_burger-menu{
        display: none;
    }
    .header-line{
        width: 704px;
    }
}
@media (min-width:1280px){
    .header-line{
        width: 1216px;
    }
}