@import "../utils/variables";
.hero{
    height: 850px;
    &-flex{
        display: flex;
    }
    &_card{
        margin-left: 10px;
        position: relative;
        width: 460px;
        height: 650px;
        &-bg{
            position: absolute;
            height: 595px;
            width: 426px;
            z-index: 2;
            top: 50px;
            left: 14px;
        }
        &-img1{
            position: absolute;
            z-index: 5;
            top: 75px;
            left: 55px;
        }
        &-img2 {
        position: absolute;
        z-index: 4;
        top: 75px;
         left: 100px;
        }
        &-img3 {
        position: absolute;
        z-index: 3;
        top: 75px;
        left: 150px;
        }
        &-title{
            position: absolute;
            z-index: 3;
            top: 140px;
            left: 60px;
            font-family: DM Sans;
                font-weight: 700;
                font-style: Bold;
                font-size: 14px;
                text-transform: uppercase;
                color: #11131F;
        }
        &-man{
            position: absolute;
            z-index: 3;
            top: 85px;
            left: 310px;
            border-radius: 24px;
        }
        &-yacht{
            position: absolute;
            z-index: 3;
            top: 310px;
            left: 50px;
        }
        &-price{
            position: absolute;
            top: 500px;
            z-index: 3;
            left: 40px;
            font-family: DM Sans;
                font-weight: 400;
                font-style: Regular;
                font-size: 60px;
                vertical-align: middle;
                text-transform: uppercase;
                color: #11131F;
        }
        &-text{
            position: absolute;
            z-index: 3;
            color:#11131F ;
            top: 515px;
            left: 180px;
            width: 258px;
            font-family: DM Sans;
                font-weight: 400;
                font-style: Regular;
                font-size: 18px;
        }
    }
    &_wrapper{
        width: 554px;
        height: 360px;
        transform: translate(250px,150px);
    }
    &_title{
        width: 545px;
        text-align: left;
        font-family: DM Sans;
            font-weight: 500;
            font-style: Medium;
            font-size: 60px;
            line-height: 110.00000000000001%;
            letter-spacing: -4.5%;
            color: #F6F5EF;
            &-grad{
                font-family: DM Sans;
                    font-weight: 500;
                    font-style: Italic;
                    font-size: 60px;
                    line-height: 110.00000000000001%;
                    letter-spacing: -4.5%;
                    background: linear-gradient(92.17deg, #BEC7C2 41.03%, #A1B5BA 90.31%);
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
            }
    }
    &_text{
        font-family: DM Sans;
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            line-height: 140%;
            letter-spacing: -2%;
            color: #F6F5EF;
            opacity: 0.9;
    }
    &_btn-start{
        margin-top: 30px;
        width: 150px;
        height: 48px;
        border-radius: 60px;
        border: 0px;
        background-color: #93ABAE;
        font-family: DM Sans;
            font-weight: 700;
            font-style: Bold;
            font-size: 18px;
            line-height: 110.00000000000001%;
            letter-spacing: -4.5%;
            color: #F6F5EF;
    }
    &_btn-explore{
        width: 117px;
        height: 48px;
        border-radius: 60px;
        background-color: transparent;
        border: 1px solid #F6F5EF;
        font-family: DM Sans;
            font-weight: 700;
            font-style: Bold;
            font-size: 18px;
            line-height: 110.00000000000001%;
            letter-spacing: -4.5%;
            color: #F6F5EF;
            margin-left: 15px;
    }
}
@media (max-width:768px){
    .hero-flex{
        flex-direction: column-reverse;
    }
    .hero_wrapper{
        width: 704px;
        height: 294px;
        transform: translate(20px,20px);
    }
    .hero_title{
        width: 700px;
    }
}
@media (max-width:375px) {
    .hero{
        height: 830px;
        &_title{
            text-align: left;
            width: 332px;
            font-family: DM Sans;
                font-weight: 500;
                font-style: Medium;
                font-size: 36px;
                line-height: 110.00000000000001%;
                letter-spacing: -4.5%;
                &-grad{
                    font-family: DM Sans;
                        font-weight: 500;
                        font-style: Medium;
                        font-size: 36px;
                        line-height: 110.00000000000001%;
                        letter-spacing: -4.5%;
                }
        }
        &_text{
            padding-top: 15px;
            width: 332px;
            font-family: DM Sans;
                font-weight: 400;
                font-style: Regular;
                font-size: 14px;
                line-height: 140%;
                letter-spacing: -2%;
        }
        &_card{
            width: 335px;
            height: 427px;
            &-bg{
                width: 335px;
                height: 427px;
            }
            &-man{
                width: 133px;
                height: 133px;
                left: 210px;
            }
            &-img1{
                width: 48px;
                height: 48px;
            }
            &-img2{
             width: 48px;
             height: 48px;
             left: 90px;
            }
            &-img3{
                width: 48px;
                height: 48px;
                left: 130px;
            }
            &-yacht{
                width: 287px;
                height: 167px;
                top: 200px;
                left: 40px;
            }
            &-price{
                font-family: DM Sans;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 48px;
                    line-height: 110.00000000000001%;
                    letter-spacing: -4.5%;
                    vertical-align: middle;
                    text-transform: uppercase;
                    top: 350px;
                    left: 40px;
            }
            &-text{
                font-family: DM Sans;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 14px;
                    line-height: 140%;
                    letter-spacing: -4.5%;
                    top: 360px;
                    left: 155px;
                    width: 180px;
                    text-align: left;
            }
        }
    }
}