.card-one, .card-second {
    background-color: rgba(31, 33, 45, 1);
    width: 354px;
    height: 508px;
    border-radius: 24px;
}

.card-third {
    background-color: rgba(31, 33, 45, 1);
    width: 354px;
    height: 508px;
    border-radius: 24px;
}

.conteiner {
    background-color: rgba(17, 19, 31, 1);
    background-image: url(./symbol_background-img.svg);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    font-family: DM Sans;
}

.cards {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.yaht-one_img, .yaht-twoo_img, .yaht-three_img {
    width: 322px;
    height: 268px;
    border-radius: 24px;
    padding: 16px;
}

.card-one-title, .card-two-title, .card-three-title {
    display: flex;
    padding-left: 32px;
    align-items: center;
}

.card-one-title {
    gap: 147px;
}

.card-two-title {
    gap: 27px;
}

.card-three-title {
    gap: 114px;
}

.card-one_p, .card-two_p, .card-three_p {
    color: rgba(246, 245, 239, 1);
    font-size: 16px;
}

.card-one_p-two, .card-two_p-two, .card-three_p-two {
    color: rgba(246, 245, 239, 1);
    font-size: 12px;
}

.text-div {
    display: flex; 
    gap: 32px;
}

.text-div_ul-one, .text-div_ul-two {
    list-style: none;
    color: rgba(246, 245, 239, 1);
    font-size: 14px;
}

@media (max-width: 768px) {

    .card-third {
        display: none;
    }

    .conteiner {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        position: relative;
    }

    .cards {
        display: flex;
        gap: 20px;
        justify-content: center;
        flex-wrap: wrap;
        order: 1;
    }

    .arrow-start:first-of-type, .arrow-end:last-of-type {
        order: 2;
        display: inline-block;
        vertical-align: middle;
    }

    .conteiner::after {
        content: '';
        display: flex;
        width: 100%;
        text-align: center;
    }

    .arrow-start {
        position: absolute;
        padding-top: 548px;
        justify-content: center;
        padding-right: 65px;
    }

    .arrow-end {
        justify-content: center;
        padding-left: 65px;
    }

    .card-one, .card-two {
        width: 344px;
        height: 508px;
    }

    .yaht-one_img, .yaht-twoo_img {
        width: 312px;
        height: 268px;
        padding: 16px;
    }
}

@media (max-width: 376px) {
    
    .card-second {
        display: none;
    }
    
    .card-one {
        width: 335px;
    }

    .yaht-one_img {
        width: 299px;
        height: 251px;
    }
    
    .text-div{
        align-items: start;
    }
}